@charset "UTF-8";

:root {
  --index: #207FF1;
  --index-lite: #F1F6FC;
  --container-xl: 1420px;
  --container-lg: 1220px;
}

body {
  font-family: 'SF UI Text';
  padding-top: 87px;
}

.overLock {
  overflow: hidden !important;
}

.container-xl {
  width: 100%;
  max-width: calc(var(--container-xl) + 200px);
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

.container-lg {
  max-width: calc(var(--container-lg) + 200px);
  margin: auto;
  padding: 0 100px;
}

.flex {
  display: flex;

  &.flex-v-star {
    align-items: flex-start;
  }

  &.flex-v-end {
    align-items: flex-end;
  }

  &.flex-v-center {
    align-items: center;
  }

  &.flex-g-center {
    justify-content: center;
  }

  &.flex-g-sp {
    justify-content: space-between;
  }

  &.flex-vg-center {
    align-items: center;
    justify-content: center;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 14px 26px;
  font-weight: normal;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.04em;
  border: 1px solid transparent;
  width: max-content;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.2s;

  &.btn-primary {
    color: #fff;
    background-color: var(--index);

    &:hover {
      background-color: #116DDD;
    }
  }

  &.btn-outline-primary {
    color: var(--index);
    background-color: transparent;
    border-color: var(--index);

    &:hover {
      background-color: #4c7bd0;
      color: #fff;
    }
  }

  &.btn-primary-small {
    font-size: 14px;
    background: #F1F6FC;
    border-radius: 20px;
    padding: 6px 20px;
    color: var(--index);

    &:hover {
      background-color: var(--index);
      color: #fff;
    }
  }

  &:disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
  }
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-color {
  background-color: var(--index-lite);
}

.text-md {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #4C4C4C;
}

.back-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hr-line {
  width: 100px;
  height: 3px;
  background-color: var(--index);
  margin-top: 20px;
}

.block-signature {
  .title {
    font-size: 32px;
    font-weight: 600;
  }
}

.top-header {
  margin-bottom: 50px;
}

.slider-control {
  display: flex;
  align-items: center;

  .btn {
    padding: 0;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    border-radius: 50px;
    border: 2px solid var(--index);
    background-color: transparent;

    &:last-child {
      margin-right: 0;
    }

    i {
      background-color: var(--index);
    }

    &:hover {
      background-color: var(--index);

      i {
        background-color: #fff;
      }
    }
  }
}

.owl-dots {
  margin: 0 auto;
  margin-top: 45px;
  width: max-content;

  .owl-dot {
    width: 8px;
    height: 8px;
    background-color: #D4D4D4 !important;
    border-radius: 50px;
    margin-right: 14px;
    transition: all 0.2s;

    &.active {
      width: 30px;
      background-color: #969696 !important;
    }
  }
}

label {
  input,
  select,
  textarea {
    &.error-valid {
      border-color: red !important;
    }
    &.field-border {
      border-color: #C4C4C4;
    }
  }
  input,
  select {
    width: 100%;
    background: #FFFFFF;
    border-radius: 15px;
    height: 55px;
    padding: 0 20px;
    font-size: 18px;
    border: 1px solid transparent;

    &[type='checkbox'] {
      width: 19px;
      min-width: 19px;
      height: 19px;
      min-height: 19px;
      border-radius: 8px;
    }
  }

  textarea {
    width: 100%;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
  }
}



/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: #F7FAFD;
  border-radius: 0px 0px 20px 20px;

  .container-xl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    max-width: 250px;
    max-height: 50px;
    object-fit: contain;
  }

  .navigation {
    .item-link {
      font-size: 16px;
      color: #000;
      font-weight: 500;
      margin-right: 40px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: var(--index);
      }
    }
  }

  .callback {
    .phone-number {
      font-weight: 700;
      font-size: 17px;
      color: #000000;
      margin-right: 30px;

      i {
        background-color: var(--index);
        margin-right: 10px;
      }
    }

    .btn-callback {
      font-weight: 600;
      padding: 10px 15px;
      font-size: 13px;
    }
  }

  .btn-toggle-menu {
    display: none;
    background-color: transparent;
    margin-right: -15px;

    i {
      background-color: var(--index);
      font-size: 22px;
    }
  }
}

.navigation-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  padding: 40px;
  opacity: 0;
  visibility: hidden;
  transform: translate(100vh, 0);
  transition: all 0.5s;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }

  .btn-menu-close {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 0;
    background-color: transparent;
    i {
      font-size: 22px;
      background-color: var(--index);
    }
  }

  nav {
    margin-top: 15vh;

    a {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      font-weight: 600;
      color: #000;
      margin-bottom: 40px;
      text-transform: uppercase;
    }
  }

  > .btn {
    font-size: 16px;
  }

  .contact-phone {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
  }
}

/* section-intro */
.section-intro {
  background-image: url(/img/background-falling.jpg);
  background-size: contain;
  background-position: 110% 0;
  background-repeat: no-repeat;

  .index-title {
    max-width: 710px;
    font-weight: 700;
    font-size: 60px;
    color: #000000;
  }

  .desc {
    max-width: 420px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  form {
    max-width: 288px;

    button {
      margin-top: 10px;
    }
  }
}


/* section-empty-photo */
.section-empty-photo {
  padding: 0 !important;
  .container-img {
    height: 80vh;
  }
}


/* section-empty-photo */
.section-we-numbers {
  .top-head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 30px;

    .left-col {
      flex: 1;
      .heading {
        font-weight: 700;
        font-size: 38px;
        color: #000000;
        max-width: 560px;
      }
    }

    .right-col {
      flex: 1;
      .text-md {
        max-width: 432px;
        color: #2B2B2B;
      }
    }
  }

  .grid-numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 70px;

    .item {
      background: #FFFFFF;
      border-radius: 30px;
      padding: 40px 30px;

      .title {
        font-weight: 600;
        font-size: 18px;
        color: #000000;
        margin-bottom: 15px;

        .number {
          font-weight: 700;
          font-size: 54px;
          color: var(--index);
          margin-right: 10px;
        }
      }

      .desc {
        font-size: 15px;
        color: #767676;
      }
    }
  }
}


/* section-current-projects */
.section-current-projects {
  .slider-projects {
    .item-project {
      display: grid;
      grid-template-columns: minmax(0, 980px) 360px;
      grid-gap: 40px;
      background-color: var(--index-lite);
      padding: 10px;
      border-radius: 30px;
      cursor: grab;

      &:active {
        cursor: ew-resize;
      }
    }

    .photo {
      width: 100%;
      max-height: 560px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
      }
    }

    .info-container {
      margin-top: 50px;

      .title-project {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 30px;
      }

      .list-params {
        .item {
          margin-bottom: 30px;
          .title {
            font-weight: 600;
            font-size: 17px;
          }
          .desc {
            font-size: 15px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}


.our-merits {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 30px;

    .item {
      padding: 30px;
      background: #FFFFFF;
      border-radius: 30px;
      height: max-content;
      transition: all 0.2s;

      .title-article {
        font-weight: 600;
        font-size: 21px;
        line-height: 27px;
        color: #000000;
        margin-bottom: 20px;
      }

      .desc-preview {

      }
      .desc-all {
        display: none;
      }

      .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        .date {
          font-weight: 400;
          font-size: 15px;
          color: #888888;
        }
      }

      &:hover {
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

        .title-article {
          color: var(--index);
        }
      }
    }
  }
}


.section-capture-point {
  background-image: url('/img/background-point.png');

  .info-block {
    max-width: 400px;
    margin-bottom: 100px;

    .title {
      font-weight: 600;
      font-size: 38px;
      color: #FFFFFF;
      margin-bottom: 25px;
    }

    .desc {
      max-width: 360px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  form {
    max-width: 350px;

    .btn {
      width: 100%;
      margin-top: 10px;
    }
  }
}


.section-partners {
  .partner-slider {
    .item {
      img  {
        height: 150px;
        padding: 40px;
        object-fit: contain;
      }
    }
  }
}


.section-our-team {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 30px;

    .team-member {
      padding: 10px 10px 20px;
      background: #FFFFFF;
      border-radius: 30px;
      height: max-content;
      transition: all 0.2s;

      .member {
        width: 100%;
        height: 100%;
        max-height: 280px;
        object-fit: contain;
        margin-bottom: 20px;
      }

      .info-block {
        padding: 0 10px;

        .name {
          font-weight: 600;
          font-size: 22px;
          color: #000000;
          margin-bottom: 10px;
        }
        .post {
          font-size: 13px;
          color: #A3A3A3;
          margin-bottom: 10px;
        }
        .desc-preview {
          margin-bottom: 10px;
        }
        .desc-all {
          display: none;
        }
        .btn {
          margin-top: 10px;
          margin-left: auto;
        }
      }

      &:hover {
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

        .info-block {
          .name {
            color: var(--index);
          }
        }
      }
    }
  }

  .btn-callback {
    margin: 70px auto 0;
  }
}

.section-reviews {
  .grid-container {
    .item {
      background: #F1F6FC;
      border-radius: 30px;
      padding: 30px;

      .user {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .user-photo {
          width: 70px;
          height: 70px;
          object-fit: cover;
          margin-right: 30px;
        }

        .name {
          font-weight: 600;
          font-size: 20px;
          color: #000000;
        }
        .location {
          font-size: 13px;
          color: #A3A3A3;
          margin-top: 5px;
        }
      }
      .desc-reviews {

      }
      .btn {
        margin-left: auto;
        background-color: #fff;
        color: var(--index);
        margin-top: 30px;
      }
    }
  }
}


.section-faq {
  .top-header {
    .block-signature {
      margin: 0 auto;

      .hr-line {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .grid-container {
    .item-faq {
      display: flex;
      background: #FFFFFF;
      border-radius: 30px;
      padding: 20px 30px 20px 50px;
      cursor: pointer;
      margin-bottom: 15px;
      transition: all 0.2s;

      .number {
        font-size: 13px;
        color: #BEBEBE;
        margin-right: 10px;
      }
      .question {
        font-size: 20px;
        color: #000000;
        margin-right: 20px;

        .title {
          font-weight: 600;
        }
        .answer {
          display: none;
          margin-top: 20px;
          font-size: 16px;
          line-height: 150%;
          max-width: 900px;
          color: #727272;
        }
      }
      .icon {
        margin-left: auto;
        background-color: var(--index);
        font-size: 20px;
        min-width: 20px;
      }

      &:hover {
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

        .question {
          color: var(--index);
        }
      }
    }
  }
  .btn {
    margin: 70px auto 0;
  }
}


.section-contacts {
  .container-grid {
    display: flex;
    justify-content: space-between;
    grid-gap: 50px;

    .left-col {
      .block-contacts {
        .phone {
          font-weight: 700;
          font-size: 18px;
          color: #000000;
        }

        .address {
          max-width: 200px;
          margin-bottom: 50px;
        }

        .social-network {
          display: flex;
          align-content: center;
          margin-top: 30px;
          grid-gap: 15px;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 60px;
            border: 1px solid var(--index);

            i {
              font-size: 20px;
              background-color: var(--index);
            }
          }
        }
      }
    }

    .right-col {
      width: 100%;
      .container-map {
        width: 100%;
        max-width: 980px;
        border-radius: 30px;
        margin-left: auto;
        overflow: hidden;

        iframe {
          width: 100%;
          height: 400px;
        }
      }
    }
  }
}

.section-footer {
  padding: 0;
  background-color: var(--index);

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;

    nav {
      a {
        font-size: 16px;
        color: #FFFFFF;
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.floating-button {
  position: fixed;
  z-index: 2;
  right: 40px;
  bottom: 40px;

  .container {
    .btn-toggle {
      position: relative;
      z-index: 3;
      padding: 0;
      width: 60px;
      height: 60px;
      border-radius: 100px;
      background-color: var(--index);

      i {
        font-size: 21px;
        background-color: #fff;

      }
    }
    nav {
      position: relative;
      height: 0%;
      overflow: hidden;
      margin-bottom: -30px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        margin: 0 auto;
        margin-bottom: 10px;
        transform: translate(0, 350%);
        transition: all 0.4s;

        &:hover {
          filter: brightness(0.8);
        }

        i {
          font-size: 19px;
        }

        &.hidden-pc {
          display: none;
        }
      }
    }
  }

  &.open {
    .container {
      nav {
        height: 100%;
        margin-bottom: 0;
        a {
          opacity: 1;
          visibility: visible;
          transform: translate(0);
        }
      }
    }
  }
}


.promotion-button {
  position: fixed;
  z-index: 2;
  bottom: 10px;
  left: 10px;
  width: 370px;
  height: 70px;
  padding: 10px 15px;
  background: linear-gradient(90deg, #1F202E 0%, #3D3F56 100%);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.35);
  border-radius: 30px 15px 15px 5px;

  .grid-container {
    position: relative;
    display: flex;
    align-items: center;
    .left-col {
      .photo {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: #ccc;
        margin-right: 15px;
      }
    }

    .right-col {
      .title {
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 3px;
      }

      .desc {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
      }

      .emodji {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}


.modal-window {
  display: flex;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 50px 30px;
  background: rgba(76, 135, 236, 0.25);
  opacity: 0;
  -webkit-transition: opacity 150ms linear;
  -moz-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: auto;

    .modal-container {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .modal-container {
    position: relative;
    margin: auto;
    width: 580px;
    background-color: #fff;
    padding: 30px 40px;
    transform: translateY(-100px);
    opacity: 0;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.22);
    border-radius: 30px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

    .head {
      margin-bottom: 40px;
      .title {
        font-weight: 700;
        font-size: 32px;
        color: #000000;
      }
      .btn-close-modal {
        position: absolute;
        top: 0;
        right: 0;
        width: 64px;
        height: 64px;
        padding: 0;
        background: #F1F6FC;
        border-radius: 0px 30px;

        i {
          font-size: 16px;
          background-color: var(--index);
        }

        &:hover {
          background-color: var(--index);
          i {
            background-color: #fff;
          }
        }
      }
    }

    .body-container {
      form {
        label {
          display: block;
          margin-bottom: 20px;

          .title {
            display: flex;
            font-size: 15px;
            color: #767676;
            margin-left: 10px;
            margin-bottom: 5px;
          }
          input,
          textarea,
          select {
            border: 1px solid #C4C4C4;
            height: 48px;
            font-size: 16px;

            &:focus {
              border-color: var(--index);
            }
          }
          textarea {
            height: 200px;
          }
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .privacy-policy {
        display: flex;

        .title {
          font-size: 14px;
          color: #9F9F9F;
          max-width: 235px;
          margin-left: 10px;
        }
      }
    }
  }

  &.modal-success {
    .modal-container {
      width: 450px;
    }
  }
}