@media (max-width: 1600px) {
  body {
    padding-top: 77px;
  }

  .header .logo {
    width: 180px;
  }
  .header .navigation .item-link {
    font-size: 14px;
  }
  .header .callback .phone-number {
    font-size: 15px;
  }
}
@media (max-width: 1500px) {
  .container-xl,
.container-lg {
    max-width: calc(var(--container-xl) + 100px);
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-intro .index-title {
    font-size: 4vw;
  }

  .section-we-numbers .top-head .left-col .heading {
    font-size: 3vw;
  }
}
@media (max-width: 1400px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section-we-numbers .grid-numbers {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1300px) {
  .header .callback .phone-number {
    display: none;
  }
}
@media (max-width: 1100px) {
  .header .navigation .item-link {
    font-size: 14px;
    margin-right: 20px;
  }

  .section-we-numbers .top-head {
    flex-direction: column;
    align-items: inherit;
  }
  .section-we-numbers .top-head .left-col .heading {
    font-size: 4vw;
  }
}
@media (max-width: 1000px) {
  .section-current-projects .slider-projects .item-project {
    grid-template-columns: 1fr;
  }
  .section-current-projects .slider-projects .item-project .info-container {
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
  }
  .section-current-projects .slider-projects .item-project .info-container .list-params {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  .section-current-projects .slider-projects .item-project .info-container > .btn {
    margin: 0 auto;
  }

  .section-partners .partner-slider .item img {
    padding: 20px;
  }
}
@media (max-width: 900px) {
  .container-xl,
.container-lg {
    max-width: calc(var(--container-xl) + 40px);
    padding-left: 20px;
    padding-right: 20px;
  }

  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .header .container-xl {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .header .logo {
    width: 170px;
  }
  .header .navigation,
.header .callback {
    display: none;
  }
  .header .btn-toggle-menu {
    display: block;
  }

  .section-we-numbers .grid-numbers {
    margin-top: 40px;
  }
  .section-we-numbers .grid-numbers .item .title {
    font-size: 16px;
  }
  .section-we-numbers .grid-numbers .item .title .number {
    font-size: 42px;
  }
  .section-we-numbers .grid-numbers .item .desc {
    font-size: 14px;
  }

  .owl-dots {
    margin-top: 20px;
  }

  .section-contacts .container-grid {
    flex-direction: column;
  }

  .section-footer footer {
    flex-direction: column;
    grid-gap: 30px;
  }
  .section-footer footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
  }

  .promotion-object .top-col {
    grid-template-columns: 1fr;
  }
  .promotion-object .btm-col .advantages-block .grid-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  .btn {
    font-size: 13px;
  }

  .text-md {
    font-size: 14px;
  }

  .section-intro {
    background-image: none;
  }
  .section-intro .index-title {
    font-size: 6vw;
  }

  .section-empty-photo .container-img {
    height: 350px;
  }

  .section-we-numbers .top-head {
    grid-gap: 20px;
  }
  .section-we-numbers .top-head .left-col .heading {
    font-size: 22px;
  }

  .block-signature .title {
    font-size: 22px;
  }

  .slider-control {
    margin-left: 20px;
  }
  .slider-control .btn {
    width: 36px;
    height: 36px;
  }
  .slider-control .btn i {
    font-size: 14px;
  }

  .hr-line {
    width: 80px;
    margin-top: 20px;
  }

  .top-header {
    margin-bottom: 30px;
  }

  .section-capture-point .info-block .title {
    font-size: 26px;
  }

  .promotion-button {
    display: none !important;
  }
}
@media (max-width: 700px) {
  .section-we-numbers .grid-numbers {
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
  }
  .section-we-numbers .grid-numbers .item {
    padding: 25px 20px;
  }

  .our-merits .grid-container {
    grid-template-columns: 1fr;
  }
  .our-merits .grid-container .item .title-article {
    font-size: 18px;
    line-height: normal;
  }

  .section-our-team .grid-container {
    grid-template-columns: 1fr;
  }
  .section-our-team .grid-container .team-member .info-block .name {
    font-size: 18px;
  }
  .section-our-team .btn-callback {
    margin-top: 40px;
  }

  .section-faq .grid-container .item-faq {
    padding: 20px 20px 20px 30px;
  }
  .section-faq .grid-container .item-faq .number {
    display: none;
  }
  .section-faq .grid-container .item-faq .question .title {
    font-size: 16px;
    font-weight: 600;
  }
  .section-faq .btn {
    margin-top: 40px;
  }

  .section-footer footer {
    padding: 30px 0;
  }
  .section-footer footer nav {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .section-footer footer nav a {
    text-align: center;
    margin-right: 0;
  }

  .floating-button {
    right: 20px;
    bottom: 20px;
  }
}
@media (max-width: 600px) {
  .text-md {
    font-size: 14px;
  }

  .section-current-projects .slider-projects .item-project {
    grid-gap: 20px;
    padding: 3px;
  }
  .section-current-projects .slider-projects .item-project .info-container {
    padding: 10px;
  }
  .section-current-projects .slider-projects .item-project .info-container .title-project {
    font-size: 22px;
  }
  .section-current-projects .slider-projects .item-project .info-container .list-params {
    grid-template-columns: 1fr;
  }
  .section-current-projects .slider-projects .item-project .info-container .list-params .item {
    margin-bottom: 20px;
  }
  .section-current-projects .slider-projects .item-project .info-container .list-params .item .title {
    font-size: 14px;
  }
  .section-current-projects .slider-projects .item-project .info-container .list-params .item .desc {
    font-size: 13px;
  }

  .modal-window {
    padding: 0;
  }
  .modal-window .modal-container {
    margin: initial;
    height: auto;
    min-height: 100vh;
    border-radius: 0;
    padding: 30px 20px;
    width: 100%;
  }
  .modal-window .modal-container .head .btn-close-modal {
    width: 60px;
    height: 60px;
    border-radius: 0 0 0 25px;
  }
  .modal-window .modal-container .footer {
    flex-direction: column;
    grid-gap: 30px;
    align-items: inherit;
  }
  .modal-window .modal-container .footer .btn {
    width: 100%;
  }
  .modal-window.modal-success {
    padding: 0 !important;
  }
  .modal-window.modal-success .modal-container {
    height: max-content;
    min-height: initial;
    margin: auto;
    border-radius: 30px;
  }

  .floating-button .container nav a.hidden-pc {
    display: flex;
  }

  .hidden-pc {
    display: inherit !important;
  }
}