:root {
  --index: #207FF1;
  --index-lite: #F1F6FC;
  --container-xl: 1420px;
  --container-lg: 1220px;
}

body {
  font-family: "SF UI Text";
  padding-top: 87px;
}

.overLock {
  overflow: hidden !important;
}

.container-xl {
  width: 100%;
  max-width: calc(var(--container-xl) + 200px);
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

.container-lg {
  max-width: calc(var(--container-lg) + 200px);
  margin: auto;
  padding: 0 100px;
}

.flex {
  display: flex;
}
.flex.flex-v-star {
  align-items: flex-start;
}
.flex.flex-v-end {
  align-items: flex-end;
}
.flex.flex-v-center {
  align-items: center;
}
.flex.flex-g-center {
  justify-content: center;
}
.flex.flex-g-sp {
  justify-content: space-between;
}
.flex.flex-vg-center {
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 14px 26px;
  font-weight: normal;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.04em;
  border: 1px solid transparent;
  width: max-content;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.2s;
}
.btn.btn-primary {
  color: #fff;
  background-color: var(--index);
}
.btn.btn-primary:hover {
  background-color: #116DDD;
}
.btn.btn-outline-primary {
  color: var(--index);
  background-color: transparent;
  border-color: var(--index);
}
.btn.btn-outline-primary:hover {
  background-color: #4c7bd0;
  color: #fff;
}
.btn:disabled {
  background-color: #ccc !important;
  cursor: not-allowed;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-color {
  background-color: var(--index-lite);
}

.text-md {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #4C4C4C;
}

.back-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hr-line {
  width: 100px;
  height: 3px;
  background-color: var(--index);
  margin-top: 20px;
}

.block-signature .title {
  font-size: 32px;
  font-weight: 600;
}

.top-header {
  margin-bottom: 50px;
}

.slider-control {
  display: flex;
  align-items: center;
}
.slider-control .btn {
  padding: 0;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  border-radius: 50px;
  border: 2px solid var(--index);
  background-color: transparent;
}
.slider-control .btn:last-child {
  margin-right: 0;
}
.slider-control .btn i {
  background-color: var(--index);
}
.slider-control .btn:hover {
  background-color: var(--index);
}
.slider-control .btn:hover i {
  background-color: #fff;
}

.owl-dots {
  margin: 0 auto;
  margin-top: 45px;
  width: max-content;
}
.owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  background-color: #D4D4D4 !important;
  border-radius: 50px;
  margin-right: 14px;
  transition: all 0.2s;
}
.owl-dots .owl-dot.active {
  width: 30px;
  background-color: #969696 !important;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: #F7FAFD;
  border-radius: 0px 0px 20px 20px;
}
.header .container-xl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo {
  max-width: 250px;
  max-height: 50px;
  object-fit: contain;
}
.header .navigation .item-link {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin-right: 40px;
  cursor: pointer;
}
.header .navigation .item-link:last-child {
  margin-right: 0;
}
.header .navigation .item-link:hover {
  color: var(--index);
}
.header .callback .phone-number {
  font-weight: 700;
  font-size: 17px;
  color: #000000;
  margin-right: 30px;
}
.header .callback .phone-number i {
  background-color: var(--index);
  margin-right: 10px;
}
.header .callback .btn-callback {
  font-weight: 600;
  padding: 10px 15px;
  font-size: 13px;
}
.header .btn-toggle-menu {
  display: none;
  background-color: transparent;
  margin-right: -15px;
}
.header .btn-toggle-menu i {
  background-color: var(--index);
  font-size: 22px;
}

.navigation-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  padding: 40px;
  opacity: 0;
  visibility: hidden;
  transform: translate(100vh, 0);
  transition: all 0.5s;
}
.navigation-mobile.open {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.navigation-mobile .btn-menu-close {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 0;
  background-color: transparent;
}
.navigation-mobile .btn-menu-close i {
  font-size: 22px;
  background-color: var(--index);
}
.navigation-mobile nav {
  margin-top: 15vh;
}
.navigation-mobile nav a {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.navigation-mobile > .btn {
  font-size: 16px;
}
.navigation-mobile .contact-phone {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  margin-top: 40px;
}

/* section-intro */
.section-intro {
  background-image: url(/img/background-falling.jpg);
  background-size: contain;
  background-position: 110% 0;
  background-repeat: no-repeat;
}
.section-intro .index-title {
  max-width: 710px;
  font-weight: 700;
  font-size: 60px;
  color: #000000;
}
.section-intro .desc {
  max-width: 420px;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* section-empty-photo */
.section-empty-photo {
  padding: 0 !important;
}
.section-empty-photo .container-img {
  height: 80vh;
}

/* section-empty-photo */
.section-we-numbers .top-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 30px;
}
.section-we-numbers .top-head .left-col {
  flex: 1;
}
.section-we-numbers .top-head .left-col .heading {
  font-weight: 700;
  font-size: 38px;
  color: #000000;
  max-width: 560px;
}
.section-we-numbers .top-head .right-col {
  flex: 1;
}
.section-we-numbers .top-head .right-col .text-md {
  max-width: 432px;
  color: #2B2B2B;
}
.section-we-numbers .grid-numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 70px;
}
.section-we-numbers .grid-numbers .item {
  background: #FFFFFF;
  border-radius: 30px;
  padding: 40px 30px;
}
.section-we-numbers .grid-numbers .item .title {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-bottom: 15px;
}
.section-we-numbers .grid-numbers .item .title .number {
  font-weight: 700;
  font-size: 54px;
  color: var(--index);
  margin-right: 10px;
}
.section-we-numbers .grid-numbers .item .desc {
  font-size: 15px;
  color: #767676;
}

/* section-current-projects */
.section-current-projects .slider-projects .item-project {
  display: grid;
  grid-template-columns: minmax(0, 980px) 360px;
  grid-gap: 40px;
  background-color: var(--index-lite);
  padding: 10px;
  border-radius: 30px;
  cursor: grab;
}
.section-current-projects .slider-projects .item-project:active {
  cursor: ew-resize;
}
.section-current-projects .slider-projects .photo {
  width: 100%;
  max-height: 560px;
}
.section-current-projects .slider-projects .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.section-current-projects .slider-projects .info-container {
  margin-top: 50px;
}
.section-current-projects .slider-projects .info-container .title-project {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}
.section-current-projects .slider-projects .info-container .list-params .item {
  margin-bottom: 30px;
}
.section-current-projects .slider-projects .info-container .list-params .item .title {
  font-weight: 600;
  font-size: 17px;
}
.section-current-projects .slider-projects .info-container .list-params .item .desc {
  font-size: 15px;
  margin-top: 5px;
}