@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    font-size: 16px;
    background-color: #000;
}

.icon.phone {
    mask-image: url(phone.svg);
    -webkit-mask-image: url(phone.svg);
}

.icon.menu {
    mask-image: url(menu.svg);
    -webkit-mask-image: url(menu.svg);
}

.icon.arrow-left {
    mask-image: url(arrow-left.svg);
    -webkit-mask-image: url(arrow-left.svg);
}

.icon.arrow-right {
    mask-image: url(arrow-right.svg);
    -webkit-mask-image: url(arrow-right.svg);
}

.icon.close {
    mask-image: url(close.svg);
    -webkit-mask-image: url(close.svg);
}

.icon.plus {
    mask-image: url(plus.svg);
    -webkit-mask-image: url(plus.svg);
}

.icon.minus {
    mask-image: url(minus.svg);
    -webkit-mask-image: url(minus.svg);
}

.icon.mail {
    mask-image: url(mail.svg);
    -webkit-mask-image: url(mail.svg);
}

.icon.whatsapp {
    mask-image: url(whatsapp.svg);
    -webkit-mask-image: url(whatsapp.svg);
}

.icon.telegram {
    mask-image: url(telegram.svg);
    -webkit-mask-image: url(telegram.svg);
}

.icon.check {
    mask-image: url(check.svg);
    -webkit-mask-image: url(check.svg);
}